@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-text-color: #C9D7E3;
  --secondary-text-color: #B0A99F;
  --accent-text-color: #5ECFFF;
  --default-color-blue: #53A7E0;
  --default-color-yellow: #F3C55A;
  --default-color-orange: #DF6339;
  --default-color-pink: #E396C5;
  --default-color-green: #39DF63;
  --default-border-radius: .8rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  padding: 1.2rem;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: linear-gradient(to top, #1a2951, #0D162C);
}

.personal h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.personal h3 {
  margin-bottom: 2rem;
  font-weight: 500;
}

.personal span {
  color: var(--secondary-text-color);
}

.repos {
  display: flex;
  gap: 1rem;
}

.repos img {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  display: block;
}

.repos .github {
  filter: invert(1);
}

.personal a:not(:has(img)) {
  position: relative;
  margin-top: 1rem;
  display: none;
  text-decoration: none;
}

.personal a:not(:has(img)) {
  padding-left: 2rem;
}

.personal a span::before {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  display: block;
  width: .45rem;
  background: var(--accent-text-color);
}

.personal a span:hover {
  color: var(--accent-text-color);
  font-weight: bolder;
}

.personal .bubbles {
  padding: 1rem 0;
  display: flex;
  gap: .85rem;
  flex-wrap: wrap;
}

.personal .bubbles span {
  background: red;
  color: #000;
  padding: .5rem 1rem;
  border-radius: 4rem;
}

.about span a {
  color: var(--secondary-text-color);
}

/*
* Add new sections here
* ------------------------ 
*/

.about h2,
.projects h2 {
  padding: 1rem 1.2rem;
  margin-left: -1.2rem;
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  text-transform: uppercase;
}

.about span,
.projects span,
footer {
  line-height: 1.6rem;
}

/*
* ------------------------ 
*/

.projects article:not(:first-of-type) {
  margin-top: 5rem;
}

.projects article h3 {
  margin: .6rem 0;
}

.projects article>img {
  width: 100%;
  border-radius: var(--default-border-radius);
  box-shadow: 0 0 1.4rem rgba(1, 1, 1, .65);
  margin: 1rem 0;
}

.projects article a {
  font-size: .9rem;
  padding: .8rem 2rem;
  border-radius: var(--default-border-radius);
  transition: .2s ease-in-out;
  color: #FFF;
  font-weight: 500;
  background-color: var(--accent-text-color);
  border: 3px solid transparent;
  text-decoration: none;
  vertical-align: middle;
}

.projects article a:hover {
  border: 3px solid #FFF;
  cursor: pointer;
}

.projects article a img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .4rem .25rem 0;
  vertical-align: middle;
  filter: invert(1);
}

.projects article span:first-child {
  padding-left: 20px;
}

.projects article span:first-child::before {
  content: '';
  margin-left: -20px;
  width: 5px;
  height: 25px;
  background-color: var(--accent-text-color);
  position: absolute;
}

footer {
  padding-top: 5rem;
  text-align: center;
  color: var(--secondary-text-color);
}

/*
* Break point for Laptops and Desktop devices
*/
@media screen and (min-width: 769px) {
  body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    padding: 5rem;
    max-width: 1400px;
    justify-self: center;
  }

  .personal {
    position: sticky;
    top: 5rem;
  }

  .personal a:has(img) {
    margin-bottom: 5rem;
    display: block;
  }

  .personal a:not(:has(img)) {
    display: block;
  }

  .about h2,
  .projects h2 {
    position: static;
    backdrop-filter: blur(0);
  }

  .about,
  .projects {
    grid-column: 2;
  }

  footer {
    grid-column: 1/3;
  }
}
